/* This is my CSS page. */
body {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

header {
    background-color: #d9c4b8;
    padding: 1rem 2vw;
}

header h1 {
  margin: 0;
  color: #0f5944;
}

header p {
    margin: 0;
    color: #0f5944;
    letter-spacing: .5px;
}
/* This is the navigation section. */

nav {
background-color: #a6652d;
}

nav ul {
list-style-type: none;
padding: 0 2vw;
margin: 0;
display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    font-weight:700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a{
    background-color: white;
    color: #a6652d;
}
nav a:hover{
    color: white;
}

/* This is the main section. */

main{
    padding: 1rem 2vw;
}

main h1{
    color: #590202;
}

main h2{
    color: #0f5944;
    margin-bottom: .2rem;
}

main p{
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol{
    padding: .5rem 3vw;
    background-color: #d9c4b8;
    
}

main dl dt{
    color: #590202;
    font-weight: 700;
}
main dl dd{
    color: #0f5944;
    font-size: .9rem;
}

main ul{
    list-style-type: lower-roman;
}

main ul{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

/* Image formatting stuff here */
figure.wrapped{
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img{
    width: 100%;
    height: auto;
}
figure.wrapped figcaption{
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption{
    text-align: center;
    font-size: .75rem;
    color: #0f5944;
}

/* Form Formatting stuff here */

.myform fieldset{
    border: 1px solid #0f5944;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend{
    color: #0f5944;
    font-size: .8rem;
}

.mrform label{
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea{
    display: block;
}

.myform select, .myform [type=text], .myform [type=tel], .myform textarea{
    border: solid 1px #888888;
    padding: .3rem;
    width: 250px;
    font-family: 'Abel', sans-serif;
    font-weight: 200;
}
.myform textarea{
height: 6rem;
}

.myform :required {
    background-color: rgba(89,2,2,0.1);
}

.myform [type=submit]{
    background-color: #0f5944;
    border: none;
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    margin: 1rem 0 0 1vw;
}

/* This is the footer section. */

footer{
    background-color: #d9c4b8;
    border-top: solid #ccc 2px;
    text-align: center;
    color: #0f5944;
    padding: 1rem 0;
    font-size: .7rem;
    border-style: solid;
    border-width: 5px;
    border-color: #a6652d;
    border-radius: 10px;
    padding: 5px;
    clear:both
}

footer a{
color: #0f5944;
    
}